In [1]:
marks = int(input("enter your marks :"))

if marks >90:
    print("grade A")
elif marks >=80 and marks <90:
    print("grade B")
elif marks >=70 and marks <80:
    print("grade C")
elif marks >=60 and marks <70:
    print("grade D")

else:
    print("student fail")

enter your marks : 86

grade B

In [2]:
unit = int(input("enter the number of unit :"))
bill = 0

if unit > 200:
    bill += (unit - 200) * 10
    unit = 200
if unit >100:
    bill += (unit - 100) * 5

print(f"total bill amount is RS {bill}")

enter the number of unit : 105

total bill amount is RS 25

In [2]:
age = input("enter ages :").split(",")
print(f"youngest is {min(age)}")

enter ages : 12,35,40.60,63

youngest is 12

In [11]:
salary = int(input("enter your salary :"))
years = int(input("enter your year of service :"))


if years >10 :
    bonus = 10
elif years >= 6 and years <= 10:
    bonus = 8
else:
    bonus = 5

bonus = (bonus / 100) * salary

print(f"your net bonus amount is {bonus}")

enter your salary : 50000
enter your year of service : 7

your net bonus amount is 4000.0

In [22]:
a = int(input("enter first number :"))
b = int(input("enter second number :"))
c = int(input("enter third number :"))

num = [a,b,c]

num.sort()
print("second largest number is: ",num[1])

enter first number : 12
enter second number : 26
enter third number : 30

second largest number is:  26

In [24]:
mrkd_pr = int(input("enter the marked price: "))

if mrkd_pr >10000:
    discount = 20
elif mrkd_pr >7000 and mrkd_pr <=10000:
    discount = 15

else:
    discount = 10

discounts = (discount / 100) * mrkd_pr

net_amount = mrkd_pr - discounts

print(f"discount = {discounts}")
print(f"net amount to pay = {net_amount}")

enter the marked price:  9000

discount = 1350.0
net amount to pay = 7650.0

In [7]:
pyt =  int(input("enter a number : "))

if pyt %5 == 0:
    print("hello")
else:
    print("bye")

enter a number :  25

hello

In [8]:
ver = int(input("enter a number : "))

lst_dgt = ver %10

if lst_dgt %3 == 0:
    print("last digit", lst_dgt,"is divisible by 3")

else:
    print("the last digit",lst_dgt,"is not divisible by 3")

enter a number :  123

last digit 3 is divisible by 3

In [9]:
english = int(input("enter marks in english : "))
science = int(input("enter marks in science : "))
math = int(input("enter marks in math : "))
physics = int(input("enter marks in physics : "))

if english >80 and math >80 and science >80 and physics >80:
    print("you are allow science stream") 
elif english >80 and math >50 and science >50:
    print("you are allow physics stream")
elif english >80 and physics >80:
    print("you are allow math stream")

else:
    print("stream not allow")

enter marks in english :  85
enter marks in science :  75
enter marks in math :  86
enter marks in physics :  90

you are allow physics stream