In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
total = 0

for i in range(1,101):
    total += i

print("sum of number :"  ,total)

sum of number : 5050

In [4]:
n = int(input("enter number :"))


for i in range(1,11):
    print(f"{n} x {i}  = {n*i}")

enter number : 3

3 x 1  = 3
3 x 2  = 6
3 x 3  = 9
3 x 4  = 12
3 x 5  = 15
3 x 6  = 18
3 x 7  = 21
3 x 8  = 24
3 x 9  = 27
3 x 10  = 30

In [9]:
n = [1,2,3,4,5,6,7,8,9,10]

even = 0
odd = 0

for i in n:
    if(i%2) == 0:
        even += 1
    else:
        odd += 1

print("even number :" , even)
print("odd number :"  , odd)

even number : 5
odd number : 5

In [12]:
n = int(input("enter number :"))

product = 1

for i in range(1,n+1):
    product = product*i

print(f"factorial of {n} is {product}")

enter number : 6

factorial of 6 is 720

In [5]:
n = int(input("number :"))

for i in range(2,n):
    if(n%2) ==0:
        print("number is not prime ")
        break

else:
        print("number is prime ")

number : 4

number is not prime

In [15]:
n = [2,12,34,20,45,35,68]

largest = 0

for i in n:
    if i >largest:
        largest = i

print("largest number " , largest)

largest number  68

In [33]:
n = input("enter string : ")

reverse = ""

for i in range(len(n)-1,-1,-1):
    reverse += n[i]

print("",reverse)

enter string :  python

 nohtyp

In [36]:
lst1 = [123]
lst2 = [451]

common = []

for i in lst1:
    if i in lst2:
        common.append(i)

print("commen number :" , common)

commen number : []